@font-face {
    font-family: Landasans;
    src: url('Assets/Fonts/LandasansMedium-ALJ6m.otf');
}
@font-face {
    font-family: Gidole-Regular;
    src: url('Assets/Fonts/Gidole-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: white;
    font-family: 'Gidole-Regular';
}

.landing-cover {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://www.expatica.com/app/uploads/sites/9/2017/07/cost-of-living-thun.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.landing-cover h1 {
    text-align: center;
    font-size: 112px;
    color: white;
    text-shadow: 4px 4px 0px black;
    font-family: Landasans;
    letter-spacing: 4px;
}
.landing-cover h1::before {
    content: 'French country project:';
    display: block;
    font-size: 32px;
    letter-spacing: 2px;
    text-shadow: 0px 0px 8px black;
}
.landing-cover h1::after {
    content: 'By: Jack H. and Stephen T.';
    display: block;
    font-size: 36px;
    letter-spacing: 2px;
    text-shadow: 0px 0px 8px black;
}



/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
.slide {
    height: 95vh;
    padding: 24px;
    position: relative;
    overflow: hidden;
}
.slide-header {
    background: rgb(234, 239, 247);
    width: 100vw;
    padding: 28px 16px;
    cursor: pointer;
    margin: -24px -24px;
}
.slide-header-text {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.slide-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.slide-content {
    color: black;
}
.slide-content p {
    max-width: 45%;
    font-size: 28px;
    line-height: 110%;
}
.slide-img {
    width: 500px;
    height: auto;
}
.slide-college {
    display: flex;
    width: 50%;
    height: 75%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.slide-college img {
    display: block;
    position: relative;
    width: 45%;
    height: auto;
    background: gray;
    margin-bottom: 8px;
}
#matter-horn::after {
    content: 'Matter Horn';
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
    color: white;
    font-size: 16px;
    z-index: 1;
    text-shadow: 0px 0px 6px black;
}