@font-face {
    font-family: Landasans;
    src: url('Assets/Fonts/LandasansMedium-ALJ6m.otf');
}
@font-face {
    font-family: Gidole-Regular;
    src: url('Assets/Fonts/Gidole-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: white;
    font-family: 'Gidole-Regular';
}

.landing-cover {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://www.expatica.com/app/uploads/sites/9/2017/07/cost-of-living-thun.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.landing-cover h1 {
    text-align: center;
    font-size: 112px;
    color: white;
    text-shadow: 4px 4px 0px black;
    font-family: Landasans;
    letter-spacing: 4px;
}
.landing-cover h1::before {
    content: 'French country project:';
    display: block;
    font-size: 32px;
    letter-spacing: 2px;
    text-shadow: 0px 0px 8px black;
}
.landing-cover h1::after {
    content: 'By: Jack H. and Stephen T.';
    display: block;
    font-size: 36px;
    letter-spacing: 2px;
    text-shadow: 0px 0px 8px black;
}



/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
.slide {
    height: 100vh;
    padding: 24px;
    position: relative;
    overflow: hidden;
}
.slide-header {
    background: rgb(200, 208, 219);
    width: 100vw;
    padding: 28px 16px;
    cursor: pointer;
    margin: -24px -24px;
}
.slide-header-text {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.slide-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.slide-content {
    color: black;
}
.slide-content p {
    max-width: 40%;
    font-size: 28px;
    line-height: 120%;
}
.slide-img {
    width: 500px;
    height: auto;
}
.slide-college {
    display: flex;
    width: 50%;
    height: 55%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.slide-college__image {
    width: 45%;
    height: 45%;
    margin-bottom: 8px;
    transition-duration: 350ms;
    position: relative;
}
.slide-college__image img {
    height: 100%;
    width: auto;
}
.matterhorn::after {
    content: 'Matter Horn';
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 16px;
    color: white;
    padding: 8px;
    text-shadow: 0px 0px 6px black;
}
.fondue::after {
    content: 'Fondue au fromage';
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 16px;
    color: white;
    padding: 8px;
    text-shadow: 0px 0px 6px black;
}
.stadium::after {
    content: 'Tissot-Arena';
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 16px;
    color: white;
    padding: 8px;
    text-shadow: 0px 0px 6px black;
}



.slide-college-end {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 50%;
    margin-top: 32px;
}
.slide-college-end img {
    width: 400px;
    height: auto;
}


.end {
    display: flex;
    align-items: center;
    justify-content: center;
}
.end button {
    padding: 48px;
    font-size: 64px;
    color: goldenrod;
    border: 5px outset silver;
    transition-duration: 3s;
    outline: none;
}
.end button:hover {
    background: red;
    cursor: pointer;
}
.end button:active {
    border: 5px inset silver;
    cursor: not-allowed ;
}
.endingTime {
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
}
.endingTime img {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.endingTime video {
    width: 30vh;
    height: auto;
    z-index: 9999;
}