@font-face {
    font-family: Landasans;
    src: url('Assets/Fonts/LandasansMedium-ALJ6m.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: #cedce2;
}

.landing-cover {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://www.expatica.com/app/uploads/sites/9/2017/07/cost-of-living-thun.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.landing-cover h1 {
    text-align: center;
    font-size: 112px;
    color: white;
    text-shadow: 0px 0px 8px black;
    font-family: Landasans;
    letter-spacing: 4px;
}
.landing-cover h1::after {
    content: 'By: Jack H. and Stephen T.';
    display: block;
    font-size: 36px;
}
.section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-header {
    font-size: 32px;
}

/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */

.table-of-contents__list {
    list-style-type: none;
    text-align: center;
}

.table-of-contents li {
    font-size: 24px;
}